html,body {height:100%;
	font-family: 'Orbitron', cursive;
}

@media screen and (max-width: 480px) {
	.row.text-center.pissa{
		font-size: 100px;
		}
	.row.text-center.passos{
		font-size: 24px;
		}

} 



.passos{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

.pissa{
	font-size: 200px;
	font-weight: bold;
	}
#share-buttons{
	text-align: center;
}


.stpulldown-gradient
{
background: #E1E1E1;
background: -moz-linear-gradient(top, #E1E1E1 0%, #A7A7A7 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(100%,#A7A7A7)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E1E1E1', endColorstr='#A7A7A7',GradientType=0 ); /* ie */
background: -o-linear-gradient(top, #E1E1E1 0%,#A7A7A7 100%); /* opera */
color: #636363;
}
#stpulldown .stpulldown-logo
{
height: 40px;
width: 300px;
margin-left: 20px;
margin-top: 5px;
background:url("//sd.sharethis.com/disc/images/Logo_Area.png") no-repeat;
}

